body{
  font-family:Arial;

}

.todo-grid,
.todo-input-grid {
   display:grid;
   grid-template-columns:30% 30% 30%;
   column-gap: 10px;
   row-gap:10px;
   align-items: center;
}

.todo-input-grid {
   margin-bottom: 10px;
   align-items: stretch;
}

.name-input,
.due-date-input {
  font-size:15px;
  padding:6px;
}

.add-todo-button {
  background-color:green;
  color:white;
  font-size:15px;
  border:none;
  cursor:pointer;
}

.delete-todo-button {
  background-color: darkred;
  color:white;
  font-size:15px;
  padding:8px;
  border:none;
  cursor:pointer;
}